* # ignore everything

# include
!.gitignore
!HA_VERSION
!*.md
!*.sh
!*.js*

!node-red/

# ignore
secrets.yaml

*.blueprints
*.custom_components/hacs

.ssh
.storage
.cloud
.google.token
home-assistant.log*
home-assistant_v2.db*
id_rsa*
